html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#sidebar {
    width: 20%;
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: #e2d8d8;
    border-right: 2px solid black;
    overflow: auto;
}

#content {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 20%;
    background-color: #e2d8d8;
    overflow: auto; 
    border: 2px solid black;
}

#sideMenu, #DataDisplay {
    text-align: center;
}

h4{
    display: inline;
}

#dataArea{
    width: 100%;
    height: 600px; 
    background-color: rgb(225, 236, 236);
    left: 0;
}


#ClientArea{
    width: 100%;
    height: 600px; 
    background-color: rgb(225, 236, 236);
    left: 0;
}

#MQTTArea{
    width: 100%;
    height: 600px; 
    background-color: rgb(225, 236, 236);
    left: 0;
}

#IOs { 
    width: 200px;
    height: 200px;
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
